<!DOCTYPE html>
<html ng-app>
<head lang="en">
   <meta charset="UTF-8">
   <title></title>
      <!-- inject:css -->
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/main.min.css">
   <link rel="stylesheet" href="css/vendor.min.css">
   <!-- endinject -->
</head>
<body>
<input ng-model="test">{{test}}
<!-- inject:js -->
<script src="js/main.js"></script>
<!-- endinject -->
</body>
</html>