<!DOCTYPE html>
<html ng-app>
<head lang="en">
   <meta charset="UTF-8">
   <title></title>
      <!-- inject:css -->
   <!-- endinject -->
</head>
<body>
<input ng-model="test">{{test}}
<!-- inject:js -->
<!-- app scripts will go here... -->
<!-- endinject -->
</body>
</html>